<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Target for writing to log file -->
    <target xsi:type="File" name="ImageUtilitiesFile" fileName="ImageUtilities.txt" />
    <target xsi:type="File" name="ExportAndImportFile" fileName="ExportAndImport.txt" />

    <!-- Target for writing to console -->
    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <!-- Rule to log all events to both file and console targets -->
    <logger name="ImageUtilities" minlevel="Trace" writeTo="ImageUtilitiesFile,console" />
    <logger name="ExportAndImport" minlevel="Trace" writeTo="ExportAndImportFile,console" />
  </rules>
</nlog>
